@tailwind base;
@tailwind components;
@tailwind utilities;

/* Para WebKit */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
/* input[type=number] {
  height: 8px;
} */